.App {
  text-align: center;
}


.App-header {
  backgcheckbox-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form {
  backgcheckbox-attachment: fixed;
  backgcheckbox-color: aquamarine;
  stop-opacity: unset
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  backgcheckbox-color: #f2f2f2;
}

.todoapp {
	backgcheckbox: #fff;
	margin: 50px 0 40px 0;
	position: relative;
	
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
  color: #e6e6e6;
  
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.tabtask{
  backgcheckbox: transparent;
 text-align: left;
 height: 30px;
 width: 380px;
 white-space: wrap;
 border-style: none;
 border-bottom: 1px solid lightgray;
}

.tabtask2{
  backgcheckbox: #fff;
 position: relative;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
 /* text-align: left;
 display: inline-block;
 justify-content: center;
 box-sizing: content-box;
 width: 450px; *vihwqogqogfnqwo;nq3/
 white-space: wrap;
 margin: 0 auto;
 margin-left: 0px;
 margin-bottom: 0px;
 border-style: ridge;
 backgcheckbox-color: white; */
    margin: 130px 0 40px 0;
}

.tabtask2 :hover {
  background-color:  #66bb6a
}



.todoleft {
  align-self: auto;
}

.checkbox {
  margin-top: 10px;
  margin-right: 20px;
  border-block-end-style: dotted;
  float: left;
  position: relative;

}

.checkbox label {
  backgcheckbox-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label {
  backgcheckbox-color: #66bb6a;
  border-color: #66bb6a;
}

.checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

body {
  backgcheckbox-color: #f1f2f3;
}

.deletebutton{
  /* display: inline; */
  /* margin-right: 60px; */
  margin-top: 10px;
  float: right;
}